{% extends 'base.html.twig' %}

{% block title %}New Activity{% endblock %}

{% block body %}
    <h1>Créer nouvelle activité </h1>

    <div class="container">
    {{ include('activity/_form.html.twig') }}
    <p></p>
    <a class="btn btn-dark" href="{{ path('app_activity_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
